<form action="/Search/Results">
    <h2>Search by:</h2>
    <p>
        @foreach (KeyValuePair<string, string> column in ViewBag.columns)
        {
            <span>
                <input type="radio"
                       name="searchType"
                       id="@column.Key"
                       value="@column.Key"
                       checked="@column.Key == 'all''" />
                <label for="@column.Key">@column.Value</label>
            </span>
        }
    </p>
    <p>
        <label for="searchTerm">Keyword:</label>
        <input type="text" name="searchTerm" id="searchTerm" />
    </p>
    <input type="submit" value="Search" />
</form>
<hr />

@{

}

@if (ViewBag.jobs != null)
{
    <h3> @ViewBag.jobs.Count Result(s) </h3>

    // TODO #2 - Loop over jobs dictionary and display all job fields


    @foreach (Dictionary<string, string> job in ViewBag.jobs)
                {
        <table class="job-listing">


            @foreach (KeyValuePair<string, string> pair in job)
            {
                <tdbody>
                    <tr>


                        <td> <b> @(pair.Key + ": ") </b></td>
                        <td> @(pair.Value + "\n" ) </td>

                    </tr>
                </tdbody>

                //I need a space here to separate groups of values and I need to make table results all equal length

            }


        </table>
    }
}